<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">BLOG</h1>
        <h3>Posts List</h3>
        <p class="lead">This is a showcase to use HTTP request and fetch data.</p>
    </div>
</div>

<div class="container text-center" *ngIf="!postsList">
    <h1 class="bg-light py-4">Loading posts...</h1>
</div>
<div class="row my-4" *ngIf="postsList">
    <div class="col-4 my-2" *ngFor="let postItem of postsList">
        <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{postItem.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Author: user id # {{postItem.userId}}</h6>
                    <p class="card-text">{{postItem.body}}</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
        </div>
    </div>
</div>